<form id="frmCreateClass" style="display: none;">
    <div class="card col-12 col-md-6 col-lg-4">
        <div class="card-body">
            <h2 class="text-center" style="color: #5651a7;">Create Class</h2>
            <input id="txtClassName" class="form-control mt-3" type="text" placeholder="Class Name" aria-label="Input for class name">
            <input id="txtCreateClassCode" class="form-control mt-2" type="text" placeholder="Class Code" aria-label="Input for class code">

        </div>
    </div>
</form>