<form id="frmJoinClass" style="display: none;">
    <div class="card col-12 col-md-6 col-lg-4">
        <div class="card-body">
            <h2 class="text-center" style="color: #5651a7;">Join Class</h2>
            <input id="txtClassCode" class="form-control mt-3" type="text" placeholder="Class Code" aria-label="Input for class code">
            <p style="color: #ff0033;" class='mt-1 mb-3'id="txtClassCodeError"></p>
            <hr class="mt-4">
            <button id="btnJoinClassSubmit" class="btn btn-primary col-12 mt-2" type="button" style="background-color: #5651a7; border-color: #5651a7;">Join Class</button>
            <button id="btnSwapCreateClass" class="btn btn-link mt-2 col-12" type="button" style="color: #5651a7;">Create a new class?</button>
        </div>
    </div>
</form>